.container {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.navigate {
  padding-left: 4px;
  margin-top: 122px;
  font-family: 'JetBrains_Mono';
}

.feed {
  margin-top: 44px;
  margin-left: 60px;
  max-height: 640px;
  width: 844px;
}
