.section {
  width: 600px;
  max-height: 912px;
  box-sizing: border-box;
}

.switcher {
  display: flex;
}

.ingredients {
  max-height: 716px;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: scroll;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
  height: 664px;
}
.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;  
}
.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;  
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  padding: 0;
}
