.section {
  width: 600px;
  max-height: 912px;
  box-sizing: border-box;
}

.switcher {
  display: flex;
}

.ingredients {
  max-height: 716px;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: scroll;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}
.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;  
}
.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;  
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  padding: 0;
}

.item {
  position: relative;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: row;
  column-gap: 9px;
}

.name {
  min-height: 48px;
  text-align: center;
}