.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  margin-left: 0;
}

.detailsbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.details {
  text-align: center;
  width: 120px;
}

.link {
  color:#F2F2F3;
  text-decoration: none;
}
