.item {
  position: relative;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: row;
  column-gap: 9px;
}

.name {
  min-height: 48px;
  text-align: center;
}